.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  color: #a52a2a;
  font-size: 200%;
  font-weight: bold;
}

.button-container {
  width: 45%;
}

.left-button {
    background-color: white;
    border: 2px solid #a52a2a;
    border-right: none;
    width: 50%;
    padding: 1.5% 3%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    font-size: 100%;
    color: #a52a2a;
  }
  
  .right-button {
    background-color: white;
    border: 2px solid #a52a2a;
    width:50%;
    padding: 1.5% 3%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-size: 100%;
    color: #a52a2a;
  }

  .left-button:hover, .right-button:hover {
    background-color: #e7a0a0;
  }

  .edit-outfit-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .bottom-tab {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(248, 249, 250, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }
  
  .tab-buttons {
    width: 100%;
  }
  
  .tab-button {
    background-color: #a52a2a;
    color: white;
    border: none;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .tab-button:hover {
    background-color: #8b0000;
  }

  .save-button {
    float: right;
  }

  .cancel-button {
    float: right;
    background-color: grey;
  }

  .tab-content {
    width: 100%;
    border-top: 2px solid #a52a2a;
  }

  .wardrobe-content-row {
    display: flex; /* Aligns items horizontally */
    width: 100%;
    gap: 15px; /* Adds space between items */
    justify-content: flex-start; /* Aligns items to the left */
    margin-top: 15px; /* Adds space above the row */
    overflow-x: auto; /* Enables horizontal scrolling */
    scroll-behavior: smooth;
  }

  .wardrobe-row {
    display: flex;
    gap: 15px; /* Adds space between items */
    padding: 20px;
    margin: 0;
  }

  .clothing-preview {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    gap: 10px; /* Add spacing between images */
  }
  
  .clothing-image {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image fits nicely */
  }