  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .outfit-outer {
    width: 35%;
    display: flex;
    justify-content: center;
    border: 2px solid #a52a2a;
    border-radius: 10px;
  }

  .outfits-list {
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    list-style: none;
    padding: 16px;
  }
  
  .outfit-item {
    width: 200px;
    height: 560px;
    background-color: grey;
    border-radius: 5px;
  }
  
  .outfit-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }

  .image-container {
    margin: 10px;
  }

  .add-outfit {
    width: 200px;
    height: 560px;
    background-color: #a52a2a;
    border-radius: 5px;
  }