.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  color: #a52a2a;
  font-size: 50px;
  font-weight: bold;
}

.mode-image {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.outfit-outer {
  width: 35%;
  display: flex;
  justify-content: center;
  border: 2px solid #a52a2a;
  border-radius: 10px;
}

.outfits-list {
  padding: 0;
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  list-style: none;
  padding: 4%;
}

.outfit-item {
  width: 100%;
  height: 360px;
  background-color: whitesmoke;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.outfit-image {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.image-container {
  margin: 5%;
  justify-items: center;
}

.add-outfit {
  width: 100%;
  height: 360px;
  background-color: #a52a2a;
  border-radius: 5px;
  cursor: pointer;
}

.outfit-title {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to top, #a52a2a, rgba(0, 0, 0, 0));
  color: white;
  display: flex;
  align-items: flex-end;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  margin: 0;
}

.circle {
  width: 100px; /* Or any desired size */
  height: 100px; /* Must match width */
  border-radius: 50%; /* Creates the circle */
  background-color: #ce9b9b; /* Optional: For visibility */
}

.horizontal-plus {
  position: relative;
  background-color: #a52a2a;
  width: 50%;
  height: 12.5%;
  left: 25%;
  top: 43.75%;
}
.vertical-plus {
  position: relative;
  background-color: #a52a2a;
  width: 10%;
  height: 50%;
  left: 43.75%;
  top: 12.5%;
}